<div class="p-4 mb-3 rounded">
	<h4 class="fst-italic">Catégories</h4>
	<ol class="list-unstyle mb-0">
		<li>
			<a class="text-decoration-none" href="#">Grammaire</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Conjugaison</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Calcul</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Sciences Naturelles</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Sciences Physiques</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Agriculture</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Histoire</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Géographie</a>
		</li>
		<li>
			<a class="text-decoration-none" href="#">Mathématiques</a>
		</li>

	</ol>
</div>
